body {
  background-color: rgb(233, 233, 233);
 

}
select {
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
}
.title-head { 
  padding: .5rem;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 4rem;
  text-align: center;
  font-size: 12;
}

.title-body {
  width: 5rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.end-row {
  border-right: 1px solid black;
}

.err-msg {
  color: rgb(109, 28, 28);
}

input[type="checkbox"] {
  height: 20px;
  margin: 10px;
  cursor: pointer;
}
input[type="text"] {
  padding: .3rem;
 
  height: 20px;
  margin: 1px;
  
}

label {
  font-size: 16px;
  margin-left: 10px;
}


.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  
}

